<configuration>
    <property name="address" value="localhost:9092"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="main-kafka-appender" class="com.github.camelya58.kafka_logback_appender.kafka_appender.KafkaAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <topic>main_topic</topic>
        <keyingStrategy class="com.github.camelya58.kafka_logback_appender.kafka_appender.keying.LoggerLevelKeyingStrategy" />
        <deliveryStrategy class="com.github.camelya58.kafka_logback_appender.kafka_appender.delivery.AsynchronousDeliveryStrategy" />

        <producerConfig>bootstrap.servers=${address}</producerConfig>
        <producerConfig>acks=0</producerConfig>
        <producerConfig>linger.ms=100</producerConfig>
        <producerConfig>max.block.ms=100</producerConfig>
        <producerConfig>client.id=${HOSTNAME}-${CONTEXT_NAME}-logback-main</producerConfig>

    </appender>

    <appender name="error-kafka-appender" class="com.github.camelya58.kafka_logback_appender.kafka_appender.KafkaAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <topic>error_topic</topic>
        <keyingStrategy class="com.github.camelya58.kafka_logback_appender.kafka_appender.keying.LoggerLevelKeyingStrategy" />
        <deliveryStrategy class="com.github.camelya58.kafka_logback_appender.kafka_appender.delivery.AsynchronousDeliveryStrategy"/>

        <producerConfig>bootstrap.servers=${address}</producerConfig>

        <producerConfig>client.id=${HOSTNAME}-${CONTEXT_NAME}-logback-error</producerConfig>
        <producerConfig>compression.type=gzip</producerConfig>

        <appender-ref ref="STDERR"/>
    </appender>

    <root level="info">
        <appender-ref ref="main-kafka-appender" />
        <appender-ref ref="error-kafka-appender" />
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>